@page
@model Duplet_x_school.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.HireDate)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.TeacherKabinetAssignment.Kabinet.Name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherKabinetAssignment.Kabinet.Name)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.TeacherSchoolClassAssignment.SchoolClass.Name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherSchoolClassAssignment.SchoolClass.Name)
        </dd>
        <dd class="col-sm-2">
            Optional Subjects
        </dd>
        <dd class="col-sm-10">
            @{
                foreach (var OptSub in Model.Teacher.TeacherOptSubjectAssignments)
                {
                    @Html.DisplayFor(modelItem => OptSub.OptSubject.Name) <br />
                }
            }
        </dd>
        <dd class="col-sm-2">
            Subjects
        </dd>
        <dd class="col-sm-10">
            @{
                foreach (var subject in Model.Teacher.TeacherSubjectAssignments)
                {
                    @Html.DisplayFor(modelItem => subject.Subject.Name) <br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
